//
// accordion
// --------------------------------------------------

// Imports variables and functions from theme
// -------------------------

@import "../../sources/scss/_variables";

// Base styles
// -------------------------

.accordion {
  position: relative;
  margin: 30px 0 50px;

  .accordion-item {
    position: relative;
    height: auto;
    display: block;
    border-bottom: 1px solid $color-blue;

    &:first-of-type {
      border-top: 1px solid $color-blue;
    }

    .accordion-item-head {
      position: relative;
      color: $color-red;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 19px;
      line-height: 24px;
      margin: 0;
      padding: 10px 0;
      padding-right: 30px;
      cursor: pointer;

      svg {
        position: absolute;
        height: 20px;
        width: 20px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        .st0 {
          fill: none;
          stroke: $color-red;
          stroke-width: 3;
          stroke-miterlimit: 10;
        }
      }
    }

    .accordion-item-content {
      display: none;
      margin: 0 0 2rem 0;
      p {
        margin: 0;
        color: $color-darker-grey;
        font-size: 14px;
      }
      .flex {
        flex-direction: column;
        align-items: center;
      }
    }

    &.visible-first-load {
      .accordion-item-head svg #vertical {
        display: none;
      }

      .accordion-item-content {
        display: block;
        margin: 0 0 2rem 0;
      }
    }
  }
}
