footer {
  position: relative;
  background-color: $color-dark-grey;
  padding: 40px 0;
  margin-top: 60px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-red;
    opacity: 0.7;
    height: 60px;
    width: calc(50vw - #{$container-width / 2} + 100px);
  }

  .footer-wrap {
    align-items: flex-start;

    @media screen and (max-width: $breakpoint-small) {
      flex-direction: column;
    }
  }

  .flex-column {
    align-items: flex-start;
    padding-right: 20px;

    &:last-of-type {
      padding-right: 0;
    }

    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
      padding-bottom: 20px;
      padding-top: 20px;
      border-top: 1px solid $color-grey;

      &:first-of-type {
        border-top: 0;
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  h4 {
    text-transform: uppercase;
    margin-top: 0;
    color: $color-white;
  }

  a {
    color: $color-white;
  }

  .social-icons {
    margin-top: 40px;

    @media screen and (max-width: $breakpoint-small) {
      margin-top: 10px;
    }

    .social-icon {
      margin-right: 10px;
    }
  }

  .phone {
    margin-top: 40px;

    @media screen and (max-width: $breakpoint-small) {
      margin-top: 10px;
    }
  }

  .news-list {
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      position: relative;
      padding-left: 10px;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 4px;
        background-color: $color-white;
        border-radius: 50%;
      }
    }
  }

  .footer-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    font-weight: bold;

    .menu-item {
      margin-bottom: 10px;
      color: $color-white;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
