/*
 * search bar
 */

div.asl_w {
  border-bottom: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

#ajaxsearchlite1 .probox,
div.asl_w .probox {
  display: flex !important;
  align-items: center !important;
  background-color: transparent !important;
}

div.asl_m .probox .proclose {
  display: none !important;
}

div.asl_w .probox .proloading {
  width: 15px !important;
  height: 15px !important;
}

div.asl_w .probox div.asl_simple-circle {
  border: 2px solid $color-red !important;
}

div.asl_w .probox .promagnifier .innericon svg {
  fill: $color-red !important;
}

div.asl_w .probox .promagnifier {
  opacity: 0 !important;
}

/*
 * results block
 */

div.asl_r .results .item .asl_content h3,
div.asl_r .results .item .asl_content h3 a {
  color: $color-blue !important;
}

div.asl_r.vertical {
  padding: 0 !important;
  margin-top: 22px;
  box-shadow: 0px 3px 12px rgba($color-black, 0.1) !important;
  border-radius: 0 !important;
  overflow-y: visible !important;
}

// div.asl_r .results::after {
//   content: "Bekijk alle resultaten";
//   position: relative;
//   display: block;
//   width: 100%;
//   padding: 20px;
//   color: $color-red;
//   background-color: $color-white;
//   text-transform: uppercase;
//   cursor: pointer;
//   transition: ease all 0.3s;
//
//   &:hover {
//     background-color: $color-light-grey;
//   }
// }

div.asl_r .results .item .asl_content {
  padding: 0 !important;
}

div.asl_r .results .item div.etc {
  display: none !important;
}

div.asl_r .results .item {
  padding: 10px 20px !important;
  border-right: none !important;
  border-left: none !important;
  transition: ease all 0.3s;
}

div.asl_r .results .item.hovered {
  background-color: $color-light-grey !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

div.asl_r.vertical .results .asl_spacer {
  display: none !important;
  height: 0 !important;
}
