//
// cookie notice
// --------------------------------------------------

#cookie-notice {
  background-color: $color-blue;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 3;

  div {
    padding: 0;

    p {
      color: $color-white;
      text-align: center;
      margin: 0;

      a {
        font-weight: 400;
      }
    }
  }

  #cookie-notice-agree {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 80px;
    background: $color-red;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 30px;
      background: $color-white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
