// Imports variables and functions from theme
// -------------------------

@import "../../sources/scss/_variables";

.banner {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $color-beige;
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (max-width: $breakpoint-extra-small) {
    flex-direction: column;
    padding: 0 !important;
  }

  &.default {
    min-height: 380px;

    @media screen and (max-width: $breakpoint-medium) {
      min-height: 280px;
    }
  }

  &.indent {
    min-height: 500px;

    @media screen and (max-width: $breakpoint-medium) {
      min-height: 350px;
    }
  }

  &.indent {
    background-color: $color-white;

    .banner-background .background-image::before {
      background-image: linear-gradient(
        90deg,
        $color-white 0%,
        transparent 50%
      );

      @media screen and (max-width: $breakpoint-extra-small) {
        background-image: linear-gradient(
          to top,
          $color-white 0%,
          transparent 50%
        );
      }
    }
  }

  .banner-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    @media screen and (max-width: $breakpoint-extra-small) {
      position: relative;
      height: 50vw;
    }

    .background-image {
      position: relative;
      width: 60%;
      height: 100%;

      @media screen and (max-width: $breakpoint-extra-small) {
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          90deg,
          $color-beige 0%,
          transparent 50%
        );

        @media screen and (max-width: $breakpoint-extra-small) {
          background-image: linear-gradient(
            to top,
            $color-beige 0%,
            transparent 50%
          );
        }
      }
    }
  }

  .banner-content {
    position: relative;
    width: calc(40% - 20px);
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

    @media screen and (max-width: $breakpoint-large) {
      width: 50%;
    }

    @media screen and (max-width: $breakpoint-medium) {
      padding-left: 10px;
      width: 75%;
    }

    @media screen and (max-width: $breakpoint-extra-small) {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  h1,
  h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 32px;

    @media screen and (max-width: $breakpoint-extra-small) {
      max-width: 85%;
      font-size: 24px;
    }
  }

  .banner-category {
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    color: $color-red;

    @media screen and (max-width: $breakpoint-extra-small) {
      max-width: 85%;
    }
  }

  .banner-text {
    position: relative;
    padding-top: 6px;

    @media screen and (max-width: $breakpoint-extra-small) {
      max-width: 85%;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 6px;
      background-color: $color-red;

      @media screen and (max-width: $breakpoint-small) {
        height: 4px;
      }
    }

    &.large {
      font-size: 24px;
      line-height: 34px;

      @media screen and (max-width: $breakpoint-medium) {
        font-size: 20px;
        line-height: 30px;
      }

      @media screen and (max-width: $breakpoint-extra-small) {
        font-size: 18px;
        line-height: 22px;
      }

      p {
        line-height: inherit;
      }
    }
  }

  .banner-buttons {
    justify-content: flex-start;

    @media screen and (max-width: $breakpoint-small) {
      flex-direction: column;
      align-items: flex-start;
      max-width: 75%;
    }

    @media screen and (max-width: $breakpoint-extra-small) {
      padding-right: 10px;
      max-width: 100%;
    }

    .button:nth-child(2) {
      margin-left: 10px;

      @media screen and (max-width: $breakpoint-small) {
        margin-left: 0;
      }
    }
  }
}
