@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: $color-blue;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 10px;
}

h1,
h2.large {
  font-size: 36px;

  @media screen and (max-width: $breakpoint-medium) {
    font-size: 32px;
  }

  @media screen and (max-width: $breakpoint-extra-small) {
    font-size: 24px;
  }
}

h2 {
  font-size: 32px;

  @media screen and (max-width: $breakpoint-medium) {
    font-size: 28px;
    line-height: 36px;
  }

  @media screen and (max-width: $breakpoint-extra-small) {
    font-size: 20px;
    line-height: 26px;
  }
}

h3 {
  font-size: 24px;

  @media screen and (max-width: $breakpoint-medium) {
    font-size: 22px;
  }

  @media screen and (max-width: $breakpoint-extra-small) {
    font-size: 18px;
  }
}

.text-lighter,
.text-lighter * {
  color: $color-darker-grey;
}

.indent {
  padding-left: 50px;

  @media screen and (max-width: $breakpoint-medium) {
    padding-left: 0;
  }
}

p {
  line-height: 24px;

  &.large {
    font-size: 26px;

    @media screen and (max-width: $breakpoint-medium) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  a {
    text-decoration: underline;
  }
}

a {
  &.link {
    font-weight: bold;
    color: $color-red;
    font-size: 20px;
  }
}
