// colors
$color-grey: #e0dbdb;
$color-light-grey: #f2f2f2;
$color-dark-grey: #a5a1a1;
$color-darker-grey: #707070;
$color-beige: #f9f4f4;
$color-red: #8a2528;
$color-light-red: #f9f4f4;
$color-blue: #1c2841;
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #e5b43e;
$color-light-yellow: #fefbf4;
$color-orange: #dc582a;
$color-green: #007a53;

$breakpoint-extra-small: 450px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-extra-large: 1440px;

$container-width: 1440px;
$container-width-smaller: 1200px;
$container-width-small: 1024px;
