.page-template-page-contact {
  .image-grid {
    background-color: $color-light-grey;
  }

  form {
    margin: 0;
  }

  .frm_style_formidable-style.with_frm_style .frm_form_fields > fieldset {
    padding: 0;
  }

  .frm_fields_container {
    #frm_field_1_container,
    #frm_field_3_container,
    #frm_field_6_container,
    #frm_field_7_container {
      grid-column-start: 1;
      grid-column-end: 7;

      @media screen and (min-width: $breakpoint-large) {
        grid-column-end: 6;
      }
    }

    #frm_field_5_container {
      grid-row-start: 1;
      grid-row-end: 6;
      grid-column-start: 7;
      grid-column-end: 13;

      textarea {
        height: 242px;
        resize: none;
      }

      @media screen and (max-width: 600px) {
        grid-row-start: unset;
        grid-row-end: unset;
      }
    }

    #frm_field_9_container {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 6;
    }

    .frm_submit {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 11;
      grid-column-end: 13;

      @media screen and (max-width: $breakpoint-extra-small) {
        grid-column-start: 1 !important;
      }

      button {
        margin-top: 0;
        padding: 10px 15px;
        width: 150px;
        margin-right: 0;
        float: right;
        border: none;

        @media screen and (max-width: $breakpoint-extra-small) {
          width: 100%;
        }
      }
    }
  }
}
