.four04-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.four04 {
  line-height: 1.4;
  text-align: center;
  width: 90%;
  margin: 50px auto;
}
.four04 p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 25px auto;
}
.four04 p .button {
  margin: 0 auto;
  margin-top: 20px;
}
